In [2]:
import pandas as pd

In [141]:
import pandas as pd
string_lists = pd.read_csv("tmdb_5000_movies.csv")
string_lists = pd.DataFrame(string_lists)
clean_df = string_lists.loc[string_lists["vote_count"]>100]
clean_df = clean_df.loc[clean_df["production_companies"] != "[]"]
clean_df = clean_df.loc[clean_df["genres"] != "[]"]
clean_df1 = clean_df[["budget", "genres", "keywords", "original_title", "popularity", "production_companies",
                      "release_date", "revenue", "runtime", "vote_average", "vote_count", "overview"]]
clean_df1 = clean_df1.reset_index(drop=True)

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
compund = []

for index, row in clean_df1.iterrows():
    results = analyzer.polarity_scores(clean_df1["overview"][index])

    comp = results["compound"]
    compund.append(comp)
clean_df1["compound_score"] = compund   
clean_df1.head()

print(len(clean_df1))
clean_df1

3142

,budget,genres,keywords,original_title,popularity,production_companies,release_date,revenue,runtime,vote_average,vote_count,overview,compound_score
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",2009-12-10,2787965087,162.0,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",-0.3612
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2007-05-19,961000000,169.0,6.9,4500,"Captain Barbossa, long believed to be dead, ha...",-0.3919
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",2015-10-26,880674609,148.0,6.3,4466,A cryptic message from Bondâ€™s past sends him o...,-0.8271
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",2012-07-16,1084939099,165.0,7.6,9106,Following the death of District Attorney Harve...,-0.9136
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",2012-03-07,284139100,132.0,6.1,2124,"John Carter is a war-weary, former military ca...",-0.7096
5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...","[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",Spider-Man 3,115.699814,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",2007-05-01,890871626,139.0,5.9,3576,The seemingly invincible Spider-Man goes up ag...,0.5859
6,260000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...","[{""id"": 1562, ""name"": ""hostage""}, {""id"": 2343,...",Tangled,48.681969,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2010-11-24,591794936,100.0,7.4,3330,When the kingdom's most wanted-and most charmi...,0.4215
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",Avengers: Age of Ultron,134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...",2015-04-22,1405403694,141.0,7.3,6767,When Tony Stark tries to jumpstart a dormant p...,-0.3182
8,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 616, ""name"": ""witch""}, {""id"": 2343, ""n...",Harry Potter and the Half-Blood Prince,98.885637,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...",2009-07-07,933959197,153.0,7.4,5293,"As Harry begins his sixth year at Hogwarts, he...",0.0000
9,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 7002...",Batman v Superman: Dawn of Justice,155.790452,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""A...",2016-03-23,873260194,151.0,5.7,7004,Fearing the actions of a god-like Super Hero l...,0.3612
10,270000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 83, ""name"": ""saving the world""}, {""id""...",Superman Returns,57.925623,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...",2006-06-28,391081192,154.0,5.4,1400,Superman returns to discover his 5-year absenc...,-0.7579
11,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...","[{""id"": 627, ""name"": ""killing""}, {""id"": 1568, ...",Quantum of Solace,107.928811,"[{""name"": ""Eon Productions"", ""id"": 7576}]",2008-10-30,586090727,106.0,6.1,2965,Quantum of Solace continues the adventures of ...,0.0609
12,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 616, ""name"": ""witch""}, {""id"": 663, ""na...",Pirates of the Caribbean: Dead Man's Chest,145.847379,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2006-06-20,1065659812,151.0,7.0,5246,Captain Jack Sparrow works his way out of a bl...,-0.8074
13,255000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1556, ""name"": ""texas""}, {""id"": 2673, ""...",The Lone Ranger,49.046956,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2013-07-03,89289910,149.0,5.9,2311,The Texas Rangers chase down a gang of outlaws...,0.1901
14,225000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 83, ""name"": ""saving the world""}, {""id""...",Man of Steel,99.398009,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",2013-06-12,662845518,143.0,6.5,6359,A young boy learns that he has extraordinary p...,0.9331
15,225000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",The Chronicles of Narnia: Prince Caspian,53.978602,"[{""name"": ""Walt Disney"", ""id"": 5888}, {""name"":...",2008-05-15,419651413,150.0,6.3,1630,One year after their incredible adventures in ...,-0.4939
16,220000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...","[{""id"": 242, ""name"": ""new york""}, {""id"": 5539,...",The Avengers,144.448633,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...",2012-04-25,1519557910,143.0,7.4,11776,When an unexpected enemy emerges and threatens...,-0.6696
17,380000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...","[{""id"": 658, ""name"": ""sea""}, {""id"": 1316, ""nam...",Pirates of the Caribbean: On Stranger Tides,135.413856,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2011-05-14,1045713802,136.0,6.4,4948,Captain Jack Sparrow crosses paths with a woma...,-0.2411
18,225000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...","[{""id"": 4379, ""name"": ""time travel""}, {""id"": 5...",Men in Black 3,52.035179,"[{""name"": ""Amblin Entertainment"", ""id"": 56}, {...",2012-05-23,624026776,106.0,6.2,4160,Agents J (Will Smith) and K (Tommy Lee Jones) ...,0.6486
19,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 417, ""name"": ""corruption""}, {""id"": 603...",The Hobbit: The Battle of the Five Armies,120.965743,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...",2014-12-10,956019788,144.0,7.1,4760,Immediately after the events of The Desolation...,0.2500
20,215000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1872, ""name"": ""loss of father""}, {""id""...",The Amazing Spider-Man,89.866276,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",2012-06-27,752215857,136.0,6.5,6586,Peter Parker is an outcast high schooler aband...,0.1531
21,200000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 4147, ""name"": ""robin hood""}, {""id"": 43...",Robin Hood,37.668301,"[{""name"": ""Imagine Entertainment"", ""id"": 23}, ...",2010-05-12,310669540,140.0,6.2,1398,When soldier Robin happens upon the dying Robe...,0.5994
22,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 603, ""name"": ""elves""}, {""id"": 604, ""na...",The Hobbit: The Desolation of Smaug,94.370564,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...",2013-12-11,958400000,161.0,7.6,4524,"The Dwarves, Bilbo and Gandalf have successful...",0.7003
23,180000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 392, ""name"": ""england""}, {""id"": 1461, ...",The Golden Compass,42.990906,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...",2007-12-04,372234864,113.0,5.8,1303,"After overhearing a shocking secret, precociou...",0.1280
24,207000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...","[{""id"": 774, ""name"": ""film business""}, {""id"": ...",King Kong,61.226010,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...",2005-12-14,550000000,187.0,6.6,2337,"In 1933 New York, an overly ambitious movie pr...",0.4767
25,200000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...","[{""id"": 2580, ""name"": ""shipwreck""}, {""id"": 298...",Titanic,100.025899,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...",1997-11-18,1845034188,194.0,7.5,7562,"84 years later, a 101-year-old woman named Ros...",0.8074
26,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...","[{""id"": 393, ""name"": ""civil war""}, {""id"": 6091...",Captain America: Civil War,198.372395,"[{""name"": ""Studio Babelsberg"", ""id"": 264}, {""n...",2016-04-27,1153304495,147.0,7.1,7241,"Following the events of Age of Ultron, the col...",-0.3818
27,209000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...","[{""id"": 1721, ""name"": ""fight""}, {""id"": 4410, ""...",Battleship,64.928382,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",2012-04-11,303025485,131.0,5.5,2114,"When mankind beams a radio signal into space, ...",0.6486
28,150000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1299, ""name"": ""monster""}, {""id"": 1718,...",Jurassic World,418.708552,"[{""name"": ""Universal Studios"", ""id"": 13}, {""na...",2015-06-09,1513528810,124.0,6.5,8662,Twenty-two years after the events of Jurassic ...,0.0000
29,200000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 4289, ""nam...",Skyfall,93.004993,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",2012-10-25,1108561013,143.0,6.9,7604,When Bond's latest assignment goes gravely wro...,-0.0516
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3112,250000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 878, ""...","[{""id"": 483, ""name"": ""riddle""}, {""id"": 1646, ""...",Cube,44.656151,"[{""name"": ""T\u00e9l\u00e9film Canada"", ""id"": 8...",1997-09-09,501818,90.0,6.9,1069,Seven strangers are taken out of their daily l...,0.3612
3113,250000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...","[{""id"": 6674, ""name"": ""chair""}, {""id"": 159945,...",Like Crazy,21.825564,"[{""name"": ""Paramount Vantage"", ""id"": 838}, {""n...",2011-10-28,3542353,90.0,6.4,381,A British college student falls for an America...,-0.4588
3114,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...","[{""id"": 1419, ""name"": ""gun""}, {""id"": 2834, ""na...",Exam,20.265518,"[{""name"": ""Hazeldine Films"", ""id"": 5004}, {""na...",2009-06-19,0,101.0,6.6,523,The final candidates for a highly desirable co...,-0.2193
3115,250000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 14, ""nam...","[{""id"": 6152, ""name"": ""supernatural""}, {""id"": ...",Ink,5.217002,"[{""name"": ""Double Edge Films"", ""id"": 21733}]",2009-01-23,0,106.0,6.4,101,Invisible forces exert power over us in our sl...,-0.2263
3116,230000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...","[{""id"": 378, ""name"": ""prison""}, {""id"": 1533, ""...",Bronson,18.450613,"[{""name"": ""EM Media"", ""id"": 1917}, {""name"": ""A...",2008-10-09,2260712,92.0,6.9,733,A young man who was sentenced to 7 years in pr...,-0.5267
3117,400000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...","[{""id"": 473, ""name"": ""chain""}, {""id"": 1009, ""n...",Mad Max,33.142185,"[{""name"": ""Kennedy Miller Productions"", ""id"": ...",1979-04-12,100000000,93.0,6.6,1213,"In a dystopian future Australia, a vicious bik...",-0.8442
3118,200000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...","[{""id"": 10183, ""name"": ""independent film""}, {""...",Swingers,13.971674,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...",1996-10-18,4505922,94.0,6.8,253,"This is a story about Mike, a guy who left his...",0.7133
3119,200000,"[{""id"": 37, ""name"": ""Western""}]","[{""id"": 2987, ""name"": ""gang war""}, {""id"": 4942...",Per un pugno di dollari,38.771062,"[{""name"": ""United Artists"", ""id"": 60}, {""name""...",1964-09-12,14500000,99.0,7.6,883,The Man With No Name enters the Mexican villag...,-0.7506
3120,0,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...","[{""id"": 490, ""name"": ""philosophy""}, {""id"": 132...",The Man from Earth,31.339015,"[{""name"": ""Falling Sky Entertainment"", ""id"": 2...",2007-06-10,0,87.0,7.7,687,An impromptu goodbye party for Professor John ...,0.4019
3121,180000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...","[{""id"": 1155, ""name"": ""brother sister relation...",Ø¨Ú†Ù‡â€ŒÙ‡Ø§ÛŒ Ø¢Ø³Ù…Ø§Ù†,7.072118,"[{""name"": ""The Institute for the Intellectual ...",1997-08-01,900000,89.0,7.8,112,Zohre's shoes are gone; her older brother Ali ...,-0.6597
3122,8000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...","[{""id"": 237, ""name"": ""gay""}, {""id"": 1025, ""nam...",Weekend,1.041254,"[{""name"": ""EM Media"", ""id"": 1917}, {""name"": ""T...",2011-09-22,469947,96.0,7.4,163,After a drunken house party with his straight ...,0.7050
3123,100000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 878, ""nam...","[{""id"": 4627, ""name"": ""earth""}, {""id"": 10614, ...",Another Earth,25.402697,"[{""name"": ""Artists Public Domain"", ""id"": 8145}]",2011-07-22,1776935,92.0,6.8,527,On the night of the discovery of a duplicate E...,-0.0258
3124,160000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10402, ""n...","[{""id"": 578, ""name"": ""rock and roll""}, {""id"": ...",Once,19.052179,"[{""name"": ""Summit Entertainment"", ""id"": 491}, ...",2007-03-23,20710513,85.0,7.3,453,A vacuum repairman moonlights as a street musi...,0.7906
3125,0,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...","[{""id"": 65, ""name"": ""holiday""}, {""id"": 207317,...",A Charlie Brown Christmas,8.701183,"[{""name"": ""Warner Bros. Home Video"", ""id"": 5173}]",1965-12-09,0,25.0,7.5,153,When Charlie Brown complains about the overwhe...,-0.5023
3126,0,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...","[{""id"": 736, ""name"": ""journalist""}, {""id"": 101...",Sound of My Voice,6.192383,"[{""name"": ""Skyscraper Films"", ""id"": 26197}]",2011-01-22,0,85.0,6.3,108,A journalist and his girlfriend get pulled in ...,0.0000
3127,125000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...","[{""id"": 1156, ""name"": ""sister sister relations...",Your Sister's Sister,12.833247,"[{""name"": ""Ada Films"", ""id"": 1424}]",2011-09-11,3200000,90.0,6.5,137,Iris invites her friend Jack to stay at her fa...,-0.1779
3128,8500000,"[{""id"": 18, ""name"": ""Drama""}]","[{""id"": 2831, ""name"": ""slavery""}]",The Birth of a Nation,9.452808,"[{""name"": ""Phantom Four"", ""id"": 423}, {""name"":...",2016-09-09,15861566,120.0,6.5,178,"Nat Turner, a former slave in America, leads a...",-0.1531
3129,100000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 53, ""nam...","[{""id"": 2125, ""name"": ""gallows""}, {""id"": 6270,...",The Gallows,18.045782,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...",2015-07-10,42664410,87.0,4.9,361,20 years after a horrific accident during a sm...,-0.5346
3130,10000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 14, ""name...","[{""id"": 1009, ""name"": ""baby""}, {""id"": 1852, ""n...",Eraserhead,20.399578,"[{""name"": ""American Film Institute (AFI)"", ""id...",1977-03-19,7000000,89.0,7.5,485,Henry Spencer tries to survive his industrial ...,-0.6705
3131,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...","[{""id"": 9937, ""name"": ""suspense""}, {""id"": 2100...",Cheap Thrills,10.826253,"[{""name"": ""New Artists Alliance"", ""id"": 5124},...",2013-03-08,0,85.0,6.3,155,"Recently fired and facing eviction, a new dad ...",-0.3716
3132,0,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 6186, ""name"": ""games""}, {""id"": 187056,...",Indie Game: The Movie,7.676677,"[{""name"": ""BlinkWorks Media"", ""id"": 84489}]",2012-05-18,0,96.0,7.4,203,Indie Game: The Movie is a feature documentary...,0.9517
3133,60000,"[{""id"": 9648, ""name"": ""Mystery""}, {""id"": 18, ""...","[{""id"": 2157, ""name"": ""hacker""}, {""id"": 2303, ...",Pi,27.788067,"[{""name"": ""Truth and Soul Pictures Inc"", ""id"":...",1998-07-10,3221152,84.0,7.1,586,The debut film from Darren Aronofsky in which ...,0.0000
3134,65000,"[{""id"": 99, ""name"": ""Documentary""}, {""id"": 35,...","[{""id"": 1706, ""name"": ""experiment""}, {""id"": 37...",Super Size Me,10.400603,"[{""name"": ""Kathbur Pictures"", ""id"": 8735}]",2004-01-17,28575078,100.0,6.6,506,Morgan Spurlock subjects himself to a diet bas...,-0.4939
3135,70000,"[{""id"": 9648, ""name"": ""Mystery""}, {""id"": 27, ""...","[{""id"": 13149, ""name"": ""pregnancy""}, {""id"": 20...",Absentia,6.328665,"[{""name"": ""Blue Dot Productions"", ""id"": 24562}...",2011-03-03,0,92.0,5.8,121,Tricia's husband Daniel has been missing for s...,-0.9676
3136,4000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 878, ""...","[{""id"": 2157, ""name"": ""hacker""}, {""id"": 4769, ...",The Signal,27.662696,"[{""name"": ""Automatik Entertainment"", ""id"": 281...",2014-03-15,600896,95.0,5.8,631,Three college students on a road trip across t...,-0.7184
3137,27000,"[{""id"": 35, ""name"": ""Comedy""}]","[{""id"": 1361, ""name"": ""salesclerk""}, {""id"": 30...",Clerks,19.748658,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...",1994-09-13,3151130,92.0,7.4,755,Convenience and video store clerks Dante and R...,0.4588
3138,0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...","[{""id"": 10022, ""name"": ""rampage""}, {""id"": 1454...",Rampage,7.101197,"[{""name"": ""Boll Kino Beteiligungs GmbH & Co. K...",2009-08-14,0,85.0,6.0,131,The boredom of small town life is eating Bill ...,-0.9287
3139,12000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 35, ""nam...","[{""id"": 237, ""name"": ""gay""}, {""id"": 900, ""name...",Pink Flamingos,4.553644,"[{""name"": ""Dreamland Productions"", ""id"": 407}]",1972-03-12,6000000,93.0,6.2,110,Notorious Baltimore criminal and underground f...,-0.4215
3140,7000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...","[{""id"": 1448, ""name"": ""distrust""}, {""id"": 2101...",Primer,23.307949,"[{""name"": ""Thinkfilm"", ""id"": 446}]",2004-10-08,424760,77.0,6.9,658,Friends/fledgling entrepreneurs invent a devic...,0.6124
3141,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...",El Mariachi,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",1992-09-04,2040920,81.0,6.6,238,El Mariachi just wants to play his guitar and ...,-0.9493

In [135]:
# for index, row in clean_df1.iterrows():
#     row['overview'] = row['overview'].astype('|S')
clean_df1.dtypes

budget                    int64
genres                   object
keywords                 object
original_title           object
popularity              float64
production_companies     object
release_date             object
revenue                   int64
runtime                 float64
vote_average            float64
vote_count                int64
overview                 object
dtype: object

In [104]:
#Unique list
import json
unique_genres = []

for row in clean_df1["genres"]:
    jdata = json.loads(row)
    for d in jdata:
        if d["name"] not in unique_genres:
            unique_genres.append(d['name'])
unique_genres

['Action',
 'Adventure',
 'Fantasy',
 'Science Fiction',
 'Crime',
 'Drama',
 'Thriller',
 'Animation',
 'Family',
 'Western',
 'Comedy',
 'Romance',
 'Horror',
 'Mystery',
 'History',
 'War',
 'Music',
 'Documentary',
 'TV Movie']

In [64]:
#after single code is complete, create a loop for each genre and a master blank list to append each genre name and avg value to
#create a df with that list to use to plot the data
import statistics
count = 0
Action = []
checks = []
for index,row in clean_df1.iterrows():
    #print(row)
    
    lista = []
    jdata = json.loads(clean_df1["genres"][index])
#     Action.append(jdata)
#     print("Hi")
#     print(len(Action))
#     break
    for d in jdata:
#         if d["name"] == "Action":
#             act = clean_df1["vote_average"]
        if d["name"] not in lista:
            lista.append(d['name'])
#         Action.append(act)
#         break    
            
#             Action.append(d['name'])
#     clean_df1.set_value(index, "genres", lista)        
#             count += 1
#     print(lista)
# Action_df = clean_df1.loc[clean_df1["genres"] == "Action"]
    if "Action" in lista:
#         Action.append(clean_df1["vote_average"]) #use a loc, this line is the issue
        check= clean_df1["revenue"]
        act = clean_df1["vote_average"]
        name1 = "Action"
#         print(act)
#         print(name1)
        Action.append({"genre":name1,"Voter Avg":act, "Revenue":check})
# #     check= clean_df1.loc[clean_df1["genres"]]        
        break
        
        
# df.set_value('index pos', 'column', value to put in)        
        
# ActionAvg = statistics.mean(Action)
# Action2 = pd.DataFrame.from_dict(Action)
# Action = Action.transpose()
print(Action)
# ActionAvg = Action.mean(axis=1)
# checks.append(ActionAvg)
# checks
# clean_df1.head()
# print(lista)

[{'genre': 'Action', 'Voter Avg': 0       7.2
1       6.9
2       6.3
3       7.6
4       6.1
5       5.9
6       7.4
7       7.3
8       7.4
9       5.7
10      5.4
11      6.1
12      7.0
13      5.9
14      6.5
15      6.3
16      7.4
17      6.4
18      6.2
19      7.1
20      6.5
21      6.2
22      7.6
23      5.8
24      6.6
25      7.5
26      7.1
27      5.5
28      6.5
29      6.9
       ...
3112    6.9
3113    6.4
3114    6.6
3115    6.4
3116    6.9
3117    6.6
3118    6.8
3119    7.6
3120    7.7
3121    7.8
3122    7.4
3123    6.8
3124    7.3
3125    7.5
3126    6.3
3127    6.5
3128    6.5
3129    4.9
3130    7.5
3131    6.3
3132    7.4
3133    7.1
3134    6.6
3135    5.8
3136    5.8
3137    7.4
3138    6.0
3139    6.2
3140    6.9
3141    6.6
Name: vote_average, Length: 3142, dtype: float64, 'Revenue': 0       2787965087
1        961000000
2        880674609
3       1084939099
4        284139100
5        890871626
6        591794936
7       1405403694
8        933959197
9        873260194
10       391081192
11       586090727
12      1065659812
13        89289910
14       662845518
15       419651413
16      1519557910
17      1045713802
18       624026776
19       956019788
20       752215857
21       310669540
22       958400000
23       372234864
24       550000000
25      1845034188
26      1153304495
27       303025485
28      1513528810
29      1108561013
           ...
3112        501818
3113       3542353
3114             0
3115             0
3116       2260712
3117     100000000
3118       4505922
3119      14500000
3120             0
3121        900000
3122        469947
3123       1776935
3124      20710513
3125             0
3126             0
3127       3200000
3128      15861566
3129      42664410
3130       7000000
3131             0
3132             0
3133       3221152
3134      28575078
3135             0
3136        600896
3137       3151130
3138             0
3139       6000000
3140        424760
3141       2040920
Name: revenue, Length: 3142, dtype: int64}]

In [128]:
#TESTER 2
import statistics

Action = []
Adventure = []
Fantasy = []
Science_Fiction = []
Crime = []
Drama = []
Thriller = []
Animation = []
Family = []
Western = []
Comedy = []
Romance = []
Horror = []
Mystery = []
History = []
War = []
Music = []
Documentary = []
TV_Movie = []



for index,row in clean_df1.iterrows():
    
    jdata = json.loads(clean_df1["genres"][index])

    for d in jdata:

        if d["id"] == 28:
            Action.append(row)
            
        if d["id"] == 12:
            Adventure.append(row) 
        
        if d["name"] == "Fantasy":
            Fantasy.append(row)  
            
        if d["name"] == "Science Fiction":
            Science_Fiction.append(row)  
            
        if d["name"] == "Crime":
            Crime.append(row)  
            
        if d["name"] == "Drama":
            Drama.append(row)  
            
        if d["name"] == "Thriller":
            Thriller.append(row)  
            
        if d["name"] == "Animation":
            Animation.append(row)  
        
        if d["name"] == "Family":
            Family.append(row)  
        
        if d["name"] == "Western":
            Western.append(row)  
            
        if d["name"] == "Comedy":
            Comedy.append(row)  
            
        if d["name"] == "Romance":
            Romance.append(row)  
            
        if d["name"] == "Horror":
            Horror.append(row)  
         
        if d["name"] == "Mystery":
            Mystery.append(row)  
            
        if d["name"] == "History":
            History.append(row)  
            
        if d["name"] == "War":
            War.append(row)  
            
        if d["name"] == "Music":
            Music.append(row)  
            
        if d["name"] == "Documentary":
            Documentary.append(row)  
            
        if d["name"] == "TV Movie":
            TV_Movie.append(row)      
        

Action_df = pd.DataFrame(Action)
Adventure_df = pd.DataFrame(Adventure)
Fantasy_df = pd.DataFrame(Fantasy)
Science_Fiction_df = pd.DataFrame(Science_Fiction)
Crime_df = pd.DataFrame(Crime)
Drama_df = pd.DataFrame(Drama)
Thriller_df = pd.DataFrame(Thriller)
Animation_df = pd.DataFrame(Animation)
Family_df = pd.DataFrame(Family)
Western_df = pd.DataFrame(Western)
Comedy_df = pd.DataFrame(Comedy)
Romance_df = pd.DataFrame(Romance)
Horror_df = pd.DataFrame(Horror)
Mystery_df = pd.DataFrame(Mystery)
History_df = pd.DataFrame(History)
War_df = pd.DataFrame(War)
Music_df = pd.DataFrame(Music)
Documentary_df = pd.DataFrame(Documentary)
TV_Movie_df = pd.DataFrame(TV_Movie)


##The code under here works to be used elsewhere
sums = []
for index,row in Adventure_df.iterrows():
    sums.append(Adventure_df["vote_average"][index])
averages = (sum(sums)/len(sums)).round(2)    
averages
##The code above works to be used elsewhere

6.27

In [124]:
#company
unique_companies = []
unique_companies_to_list=[]
for row in clean_df1["production_companies"]:
    jdata = json.loads(row)
    for d in jdata:
        if d["id"] not in unique_companies:
            unique_companies.append(d['id'])
            unique_companies_to_list.append(d['id'])
for n in unique_companies_to_list:
    globals()[n] = []

In [125]:
# yup = ['a', 'b', 'c']
# for n in yup:
#     globals()[n] = []
unique_companies_to_list

[289,
 306,
 444,
 574,
 2,
 130,
 19936,
 5,
 10761,
 69434,
 923,
 6194,
 9993,
 9996,
 326,
 19551,
 6125,
 420,
 15357,
 76043,
 7364,
 429,
 507,
 9995,
 41624,
 9168,
 7576,
 2691,
 37380,
 37381,
 37382,
 78685,
 5888,
 10221,
 11345,
 11440,
 11441,
 11442,
 4,
 20478,
 56,
 5627,
 6736,
 9169,
 11084,
 11,
 12,
 174,
 7413,
 8411,
 7505,
 23,
 33,
 1645,
 7295,
 1473,
 1938,
 68,
 69,
 264,
 3036,
 84424,
 84425,
 2598,
 13778,
 20153,
 13,
 3341,
 6452,
 598,
 8601,
 16314,
 20004,
 431,
 445,
 12247,
 79028,
 79029,
 79030,
 3,
 27,
 435,
 2481,
 22826,
 11413,
 38833,
 31828,
 53462,
 7161,
 18713,
 23791,
 76067,
 2609,
 4021,
 4022,
 333,
 7154,
 40890,
 86352,
 86655,
 87857,
 87858,
 3281,
 6277,
 11956,
 19108,
 23644,
 22213,
 37336,
 11461,
 12536,
 8406,
 79,
 240,
 11858,
 14440,
 14604,
 19750,
 19751,
 1,
 34530,
 69484,
 82819,
 83644,
 83645,
 93408,
 347,
 1557,
 10905,
 11395,
 450,
 552,
 2596,
 46339,
 86565,
 86566,
 78091,
 521,
 2507,
 16774,
 57088,
 2269,
 11462,
 19643,
 158,
 159,
 4171,
 6687,
 12200,
 36390,
 1073,
 1302,
 6092,
 7297,
 290,
 7076,
 2735,
 4403,
 6292,
 20851,
 20656,
 59778,
 1867,
 86561,
 829,
 20154,
 763,
 7340,
 19116,
 23636,
 54850,
 13769,
 5896,
 49301,
 26281,
 26282,
 7383,
 6332,
 10893,
 1632,
 5420,
 831,
 8000,
 19097,
 449,
 1633,
 14024,
 18990,
 19943,
 37455,
 16028,
 13184,
 711,
 9195,
 20011,
 591,
 866,
 4588,
 10926,
 54997,
 462,
 433,
 675,
 12485,
 28064,
 41756,
 80,
 45778,
 55512,
 19231,
 436,
 2575,
 10224,
 9076,
 172,
 1885,
 375,
 2537,
 5561,
 8253,
 3639,
 3528,
 24175,
 24176,
 9228,
 21777,
 69485,
 520,
 1903,
 2348,
 8805,
 12236,
 44,
 658,
 14714,
 22102,
 34981,
 34982,
 297,
 27711,
 73951,
 73952,
 81,
 7636,
 19107,
 4607,
 34034,
 61791,
 84041,
 84042,
 11533,
 441,
 49325,
 2265,
 24955,
 76266,
 76714,
 14718,
 20634,
 52184,
 23419,
 491,
 908,
 72441,
 88715,
 11317,
 19523,
 840,
 5739,
 10565,
 19719,
 2233,
 2234,
 2235,
 2767,
 4169,
 12124,
 12125,
 12126,
 19481,
 4164,
 20033,
 9118,
 53009,
 5219,
 12292,
 28381,
 28382,
 25121,
 7294,
 508,
 562,
 8870,
 10039,
 10104,
 13796,
 28732,
 52660,
 77845,
 10262,
 862,
 11347,
 11348,
 11349,
 10288,
 7,
 11845,
 7503,
 10256,
 437,
 7888,
 10217,
 19927,
 9383,
 11749,
 79026,
 79027,
 1225,
 2723,
 23202,
 559,
 14723,
 80461,
 25716,
 1382,
 35,
 11362,
 54502,
 51199,
 16061,
 5755,
 10881,
 13480,
 11370,
 20241,
 20475,
 20476,
 29313,
 31922,
 83871,
 10239,
 19813,
 19747,
 5752,
 2531,
 7431,
 11029,
 18209,
 28788,
 31076,
 655,
 12170,
 18,
 2648,
 84,
 21845,
 19647,
 19648,
 47,
 356,
 1992,
 1994,
 1995,
 1996,
 5358,
 8676,
 9335,
 11921,
 20409,
 2812,
 10338,
 7470,
 1280,
 47354,
 77208,
 5374,
 9078,
 34081,
 762,
 9269,
 129,
 12202,
 1171,
 10227,
 24097,
 14,
 691,
 7380,
 6733,
 2994,
 2995,
 2251,
 7311,
 12087,
 76069,
 35304,
 3200,
 3263,
 7296,
 31825,
 31826,
 890,
 5237,
 53413,
 53414,
 53416,
 415,
 19354,
 19355,
 19477,
 19478,
 19479,
 19480,
 19482,
 19483,
 5555,
 58331,
 6408,
 21904,
 21905,
 21906,
 766,
 26265,
 76068,
 61409,
 11391,
 11581,
 8083,
 1423,
 2242,
 7852,
 4740,
 824,
 308,
 925,
 10254,
 5289,
 682,
 694,
 3045,
 14577,
 21212,
 23731,
 23732,
 23733,
 919,
 348,
 430,
 705,
 20938,
 14654,
 19177,
 23243,
 31080,
 23434,
 1972,
 7829,
 10947,
 11080,
 11082,
 11083,
 19621,
 8089,
 813,
 52945,
 52946,
 52947,
 748,
 11916,
 342,
 7571,
 28384,
 40822,
 1088,
 10289,
 70993,
 3012,
 17888,
 34401,
 63571,
 97,
 10163,
 20242,
 7381,
 724,
 12205,
 49512,
 7293,
 497,
 36431,
 9,
 3268,
 7429,
 47706,
 2300,
 9349,
 11843,
 12248,
 13444,
 40112,
 657,
 3324,
 4650,
 19105,
 13403,
 34396,
 34397,
 183,
 28431,
 1838,
 19776,
 19777,
 12178,
 5552,
 12379,
 258,
 33817,
 47479,
 1504,
 19855,
 19857,
 23920,
 10930,
 60,
 6100,
 2608,
 385,
 3538,
 47122,
 43910,
 932,
 20194,
 14362,
 11661,
 656,
 780,
 7385,
 3638,
 22103,
 2471,
 11371,
 20344,
 10308,
 631,
 23370,
 7384,
 11346,
 24939,
 248,
 753,
 939,
 1894,
 8908,
 8909,
 10472,
 3086,
 12007,
 735,
 79209,
 549,
 551,
 11358,
 22182,
 24136,
 24137,
 24138,
 10339,
 90249,
 55528,
 136,
 496,
 788,
 43717,
 12005,
 12006,
 12008,
 2527,
 2199,
 12213,
 12214,
 284,
 7437,
 46506,
 46507,
 14179,
 14180,
 21498,
 160,
 2877,
 3527,
 1865,
 2478,
 746,
 60378,
 1757,
 27352,
 2308,
 2795,
 2796,
 455,
 456,
 458,
 25358,
 3589,
 78338,
 78339,
 20157,
 1370,
 2570,
 10102,
 2173,
 1560,
 3592,
 8816,
 55527,
 1507,
 2364,
 3929,
 20374,
 20375,
 23397,
 16312,
 39649,
 47169,
 175,
 961,
 2785,
 13481,
 19045,
 46221,
 46222,
 19902,
 30253,
 1274,
 4361,
 46458,
 1565,
 1649,
 7405,
 8769,
 41978,
 335,
 3164,
 8090,
 8091,
 53498,
 53499,
 1403,
 7406,
 10210,
 19718,
 20734,
 18619,
 18620,
 33832,
 22351,
 53997,
 104,
 854,
 2525,
 6896,
 4959,
 6586,
 6735,
 7454,
 15671,
 16804,
 18367,
 19267,
 20346,
 33250,
 33251,
 33252,
 33253,
 33254,
 33255,
 2755,
 2978,
 2979,
 2980,
 2981,
 2982,
 16850,
 87847,
 87848,
 87849,
 87850,
 87851,
 87852,
 4253,
 7263,
 12162,
 1836,
 649,
 877,
 24,
 2203,
 8858,
 15433,
 41042,
 59725,
 60658,
 6704,
 475,
 19352,
 11429,
 22969,
 22970,
 1038,
 2526,
 2528,
 23955,
 915,
 2378,
 70994,
 36452,
 20477,
 23271,
 23272,
 2030,
 2031,
 215,
 216,
 1693,
 803,
 17032,
 13473,
 817,
 60022,
 1212,
 13816,
 52944,
 10158,
 8852,
 11761,
 2448,
 11027,
 26947,
 26948,
 26949,
 11050,
 11231,
 838,
 1785,
 4482,
 10059,
 49478,
 54004,
 3683,
 22119,
 2519,
 2154,
 11407,
 18642,
 30692,
 50848,
 91920,
 10105,
 11708,
 7786,
 12246,
 1301,
 4564,
 7965,
 11353,
 1522,
 19934,
 3982,
 10107,
 3823,
 7396,
 19238,
 126,
 10201,
 4859,
 8921,
 90663,
 59,
 6817,
 6818,
 11728,
 20034,
 349,
 485,
 19828,
 19829,
 19834,
 19835,
 53005,
 53006,
 2721,
 22695,
 24970,
 6455,
 27551,
 23420,
 1236,
 57435,
 57436,
 1512,
 2539,
 19922,
 19923,
 3287,
 7738,
 7740,
 8871,
 12139,
 21447,
 972,
 2729,
 3427,
 10427,
 11369,
 11840,
 11841,
 1484,
 2216,
 7237,
 23932,
 48136,
 55474,
 1156,
 804,
 1668,
 4753,
 10671,
 10672,
 10405,
 31832,
 36212,
 46961,
 21409,
 21410,
 4000,
 5218,
 19552,
 8789,
 44783,
 784,
 2674,
 5444,
 9974,
 2484,
 8758,
 8759,
 51164,
 77739,
 78217,
 36430,
 414,
 545,
 6370,
 16923,
 8403,
 34890,
 8116,
 13040,
 372,
 889,
 12626,
 7923,
 39443,
 171,
 10566,
 23246,
 45728,
 45729,
 20396,
 194,
 195,
 7291,
 95063,
 21914,
 47586,
 907,
 421,
 8851,
 11321,
 42209,
 774,
 7419,
 28121,
 21920,
 2550,
 20555,
 54050,
 54051,
 54052,
 737,
 13788,
 355,
 6732,
 19553,
 19554,
 10807,
 11005,
 11006,
 13241,
 29076,
 41658,
 10246,
 40106,
 62693,
 1208,
 2116,
 2875,
 7956,
 595,
 15888,
 52943,
 3196,
 3463,
 24217,
 3407,
 19658,
 36958,
 74456,
 74457,
 74458,
 74459,
 1608,
 15742,
 1811,
 6354,
 15829,
 60682,
 38005,
 11030,
 3169,
 6363,
 4258,
 87840,
 3672,
 2455,
 4198,
 316,
 11463,
 7588,
 10157,
 53987,
 28438,
 28439,
 10146,
 11537,
 2320,
 53610,
 21497,
 15278,
 11567,
 22536,
 1163,
 67173,
 17825,
 21480,
 63906,
 9341,
 11250,
 73045,
 73046,
 74795,
 57421,
 4081,
 25120,
 7692,
 22902,
 8057,
 7433,
 906,
 76466,
 1683,
 5163,
 27317,
 28537,
 33433,
 5653,
 12297,
 2092,
 6556,
 152,
 288,
 14719,
 48638,
 2053,
 2831,
 21543,
 8299,
 1755,
 8931,
 22641,
 2605,
 20352,
 4700,
 10885,
 22443,
 3241,
 6362,
 23587,
 22656,
 60746,
 ...]

In [175]:
l={1:"one",2:"two"}
print(l)
for k,v in l.items():
    print(k)

{1: 'one', 2: 'two'}
1
2

In [6]:
#2017 names
test_text = pd.read_csv('Names_2017.csv')
test_text = pd.DataFrame(test_text)
test_text.head()

         Opening  Opening.1                   Title
0  J A N U A R Y          6  Underworld: Blood Wars
1  J A N U A R Y          6                 Arsenal
2  J A N U A R Y          6              Between Us
3  J A N U A R Y         13          Monster Trucks
4  J A N U A R Y         13         The Bye Bye Man

In [7]:
for movie in test_text["Title"]:
    print(movie)

Underworld: Blood Wars
Arsenal
Between Us
Monster Trucks
The Bye Bye Man
Sleepless
100 Streets
The Book of Love
Split
xXx: Return of Xander Cage
The Resurrection of Gavin Stone
Trespass Against Us
Sophie and the Rising Sun
A Dog's Purpose
Resident Evil: The Final Chapter
Lost in Florence
I Am Michael
iBoy
Rings
The Space Between Us
Youth in Oregon
I Am Not Your Negro
Growing Up Smith
The Lego Batman Movie
Fifty Shades Darker
John Wick: Chapter 2
Bornless Ones
The Great Wall
A Cure for Wellness
Fist Fight
American Fable
XX
Lovesong
Get Out
Rock Dog
Collide
The Girl with All the Gifts
I Don't Feel at Home in This World Anymore
Contemporary Color
Logan
The Shack
Before I Fall
Table 19
The Last Word
Catfight
Donald Cried
Kong: Skull Island
Burning Sands
Beauty and the Beast
The Belko Experiment
Song to Song
Atomica
All Nighter
The Devil's Candy
Power Rangers
Life
CHiPs
Wilson
Victor
Car Dogs
Walk of Fame
Ghost in the Shell
The Boss Baby
The Zookeeper's Wife
The Blackcoat's Daughter
The Discovery
Carrie Pilby
The Case for Christ
Smurfs: The Lost Village
Going in Style
Colossal
Gifted
Aftermath
The Fate of the Furious
Spark
The Lost City of Z
My Entire High School Sinking Into the Sea
The Outcasts
Born in China
Unforgettable
The Promise
The Circle
How to Be a Latin Lover
Sleight
Guardians of the Galaxy Vol. 2
The Lovers
3 Generations
King Arthur: Legend of the Sword
Snatched
Lowriders
The Wall
Paris Can Wait
Alien: Covenant
Diary of a Wimpy Kid: The Long Haul
Everything, Everything
Wakefield
Baywatch
Pirates of the Caribbean: Dead Men Tell No Tales
Buena Vista Social Club: Adios
War Machine
Wonder Woman
Captain Underpants: The First Epic Movie
Dean
The Mummy
It Comes at Night
My Cousin Rachel
Megan Leavey
Beatriz at Dinner
Cars 3
Rough Night
All Eyez on Me
47 Meters Down
The Book of Henry
Transformers: The Last Knight
The Beguiled
The Big Sick
The Bad Batch
Baby Driver
Okja
Despicable Me 3
The House
The Little Hours
Inconceivable
2:22
A Ghost Story
Spider-Man: Homecoming
War for the Planet of the Apes
Wish Upon
Valerian and the City of a Thousand Planets
Girls Trip
First Kill
The Emoji Movie
An Inconvenient Sequel: Truth to Power
Detroit
Brigsby Bear
Menashe
The Dark Tower
Kidnap
Step
Wind River
Armed Response
Annabelle: Creation
The Glass Castle
The Nut Job 2: Nutty by Nature
Good Time
Ingrid Goes West
The Only Living Boy in New York
The Hitman's Bodyguard
Logan Lucky
Patti Cake$
All Saints
Served Like A Girl
Beach Rats
Tulip Fever
Unlocked
It
Home Again
11-Sep
The Good Catholic
Gun Shy
American Assassin
Mother!
Brad's Status
Kingsman: The Golden Circle
The Lego Ninjago Movie
Stronger
Battle of the Sexes
Woodshock
Victoria & Abdul
Jeepers Creepers 3
American Made
Flatliners
Mark Felt: The Man Who Brought Down the White House
Blade Runner 2049
The Mountain Between Us
My Little Pony: The Movie
The Florida Project
Brawl in Cell Block 99
Happy Death Day
Marshall
Breathe
Goodbye Christopher Robin
Professor Marston and the Wonder Women
Blood Money
Geostorm
Only the Brave
Boo 2! A Madea Halloween
Same Kind of Different as Me
Leatherface
Wonderstruck
The Killing of a Sacred Deer
Thank You for Your Service
Suburbicon
Jigsaw
Novitiate
All I See Is You
Amityville: The Awakening
Thor: Ragnarok
A Bad Moms Christmas
Last Flag Flying
Lady Bird
Murder on the Orient Express
Daddy's Home 2
LBJ
Three Billboards Outside Ebbing, Missouri
Mayhem
Justice League
The Star
Wonder
Cook Off!
Mr. Roosevelt
Roman J. Israel, Esq.
Coco
Darkest Hour
The Man Who Invented Christmas
Call Me by Your Name
The Disaster Artist
The Shape of Water
Wonder Wheel
I, Tonya
Just Getting Started
Star Wars: The Last Jedi
Ferdinand
Beyond Skyline
Jumanji: Welcome to the Jungle
The Greatest Showman
Pitch Perfect 3
Downsizing
Father Figures
The Post
Bright
Crooked House
Hostiles
All the Money in the World
Molly's Game
Phantom Thread

In [123]:
#zip genre and codes
unique_genres = []
g_codes = []
for row in clean_df1["genres"]:
    jdata = json.loads(row)
    for d in jdata:
        if d["name"] not in unique_genres:
            unique_genres.append(d['name'])
            g_codes.append(d['id'])
zipped = zip(g_codes, unique_genres)  
list(zipped)

[(28, 'Action'),
 (12, 'Adventure'),
 (14, 'Fantasy'),
 (878, 'Science Fiction'),
 (80, 'Crime'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (16, 'Animation'),
 (10751, 'Family'),
 (37, 'Western'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (27, 'Horror'),
 (9648, 'Mystery'),
 (36, 'History'),
 (10752, 'War'),
 (10402, 'Music'),
 (99, 'Documentary'),
 (10770, 'TV Movie')]

In [140]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
compund = []

for index, row in clean_df1.iterrows():
    results = analyzer.polarity_scores(clean_df1["overview"][index])

    comp = results["compound"]
    compund.append(comp)
clean_df1["compound_score"] = compund   
clean_df1.head()

,budget,genres,keywords,original_title,popularity,production_companies,release_date,revenue,runtime,vote_average,vote_count,overview,compound_score
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",2009-12-10,2787965087,162.0,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",-0.3612
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2007-05-19,961000000,169.0,6.9,4500,"Captain Barbossa, long believed to be dead, ha...",-0.3919
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",2015-10-26,880674609,148.0,6.3,4466,A cryptic message from Bondâ€™s past sends him o...,-0.8271
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",2012-07-16,1084939099,165.0,7.6,9106,Following the death of District Attorney Harve...,-0.9136
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",2012-03-07,284139100,132.0,6.1,2124,"John Carter is a war-weary, former military ca...",-0.7096