In [1]:
#import dependencies
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
import json
import statistics
import matplotlib.pyplot as plt
import numpy as np
import requests
from pprint import pprint
from time import sleep

In [5]:
url = "https://api.themoviedb.org/3/discover/movie?api_key=947778a6875678206b391f256e04d8a7&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&primary_release_year=2017&vote_count.gte=100&page="
fresponse=[]
json=[]
for i in range (1,19):
    furl=url+"%d"%i
    response = requests.get(furl).json()

    for item in response["results"]:
        fresponse.append(item)

# print(len(fresponse))

movie_id_list=[]
for i in range (len(fresponse)):
    movie_id_list.append(fresponse[i]["id"])

# len(movie_id_list)

df = pd.DataFrame({"id":movie_id_list})
df["budget"]=""   
df["genres"]=""     
df["original_title"]=""    
df["popularity"]=""    
df["production_companies"]=""    
df["release_date"]=""    
df["revenue"]=""    
df["runtime"]=""    
df["vote_average"]=""    
df["vote_count"]=""
df["overview"] =""
# df.head()

for index, row in df.iterrows():
    movie_id = row['id']
    url=f"https://api.themoviedb.org/3/movie/{movie_id}?api_key=947778a6875678206b391f256e04d8a7&language=en-US"
    response = requests.get(url).json()
    df.loc[index, 'budget'] = response['budget']
    df.at[index, 'genres'] = response['genres']
    df.loc[index, 'original_title'] = response['original_title']
    df.loc[index, 'popularity'] = response['popularity']
    df.at[index, 'production_companies'] = response['production_companies']
    df.loc[index, 'release_date'] = response['release_date']
    df.loc[index, 'revenue'] = response['revenue']
    df.loc[index, 'runtime'] = response['runtime']
    df.loc[index, 'vote_average'] = response['vote_average']
    df.loc[index, 'vote_count'] = response['vote_count']
    df.loc[index, 'overview'] = response['overview']
    sleep(0.3)
    
df.to_csv("2017_movie_info.csv", index=False, header=True)
df.head()

,id,budget,genres,original_title,popularity,production_companies,release_date,revenue,runtime,vote_average,vote_count,overview
0,284053,180000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Thor: Ragnarok,109.022,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...",2017-10-25,853977000,130,7.5,7007,Thor is on the other side of the universe and ...
1,274855,120000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",Geostorm,53.5538,"[{'id': 101832, 'logo_path': '/vO7CKIeogFxphT1...",2017-10-13,221600160,109,5.8,1490,After an unprecedented series of natural disas...
2,181808,200000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",Star Wars: The Last Jedi,52.7981,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...",2017-12-13,1332459537,152,7.1,5844,Rey develops her newly discovered abilities wi...
3,281338,150000000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",War for the Planet of the Apes,51.3844,"[{'id': 22213, 'logo_path': '/qx9K6bFWJupwde0x...",2017-07-11,488533726,140,6.9,3946,Caesar and his apes are forced into a deadly c...
4,263115,97000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",Logan,44.214,"[{'id': 431, 'logo_path': None, 'name': 'The D...",2017-02-28,616801808,137,7.7,9453,"In the near future, a weary Logan cares for an..."

In [2]:
api_df = pd.read_csv("2017_movie_info.csv")
api_df = pd.DataFrame(api_df)

# merged_df = string_lists.append(api_df)
for row in api_df["genres"]:
    
    jrow=row.replace("'", '\"')
#     print(row)
api_df["genres"] = jrow 

for row in api_df["production_companies"]:
    jrow2=row.replace("'", "\"")
api_df["production_companies"] = jrow2    
api_df

,id,budget,genres,original_title,popularity,production_companies,release_date,revenue,runtime,vote_average,vote_count,overview
0,284053,180000000,"[{""id"": 10749, ""name"": ""Romance""}]",Thor: Ragnarok,109.021591,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-10-25,853977000,130.0,7.5,7007,Thor is on the other side of the universe and ...
1,274855,120000000,"[{""id"": 10749, ""name"": ""Romance""}]",Geostorm,53.553775,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-10-13,221600160,109.0,5.8,1490,After an unprecedented series of natural disas...
2,181808,200000000,"[{""id"": 10749, ""name"": ""Romance""}]",Star Wars: The Last Jedi,52.798146,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-12-13,1332459537,152.0,7.1,5844,Rey develops her newly discovered abilities wi...
3,281338,150000000,"[{""id"": 10749, ""name"": ""Romance""}]",War for the Planet of the Apes,51.384361,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-07-11,488533726,140.0,6.9,3946,Caesar and his apes are forced into a deadly c...
4,263115,97000000,"[{""id"": 10749, ""name"": ""Romance""}]",Logan,44.214025,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-02-28,616801808,137.0,7.7,9453,"In the near future, a weary Logan cares for an..."
5,297762,149000000,"[{""id"": 10749, ""name"": ""Romance""}]",Wonder Woman,41.191891,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-05-30,821847012,141.0,7.2,9230,An Amazon princess comes to the world of Man i...
6,141052,500000000,"[{""id"": 10749, ""name"": ""Romance""}]",Justice League,40.197749,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-11-15,657924295,120.0,6.3,4880,Fuelled by his restored faith in humanity and ...
7,283995,200000000,"[{""id"": 10749, ""name"": ""Romance""}]",Guardians of the Galaxy Vol. 2,38.677640,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-04-19,863756051,137.0,7.6,8583,The Guardians must fight to keep their newfoun...
8,381288,9000000,"[{""id"": 10749, ""name"": ""Romance""}]",Split,36.689713,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-01-19,278304578,117.0,7.1,6817,Though Kevin has evidenced 23 personalities to...
9,335984,150000000,"[{""id"": 10749, ""name"": ""Romance""}]",Blade Runner 2049,35.933138,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-10-04,259239658,163.0,7.3,4644,Thirty years after the events of the first fil...
10,166426,230000000,"[{""id"": 10749, ""name"": ""Romance""}]",Pirates of the Caribbean: Dead Men Tell No Tales,35.895971,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-05-23,794191988,129.0,6.5,5041,"Thrust into an all-new adventure, a down-on-hi..."
11,354912,175000000,"[{""id"": 10749, ""name"": ""Romance""}]",Coco,35.498505,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-10-27,800526015,105.0,7.9,4948,Despite his family’s baffling generations-old ...
12,341174,55000000,"[{""id"": 10749, ""name"": ""Romance""}]",Fifty Shades Darker,35.418425,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-02-08,378827494,118.0,6.0,3437,When a wounded Christian Grey tries to entice ...
13,455656,0,"[{""id"": 10749, ""name"": ""Romance""}]",#realityhigh,35.302998,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-07-17,0,99.0,6.4,287,When nerdy high schooler Dani finally attracts...
14,315635,175000000,"[{""id"": 10749, ""name"": ""Romance""}]",Spider-Man: Homecoming,33.579675,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-07-05,880166924,133.0,7.3,7898,Following the events of Captain America: Civil...
15,399055,19500000,"[{""id"": 10749, ""name"": ""Romance""}]",The Shape of Water,33.374459,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-12-01,194989655,123.0,7.3,4302,"An other-worldly story, set against the backdr..."
16,347882,0,"[{""id"": 10749, ""name"": ""Romance""}]",Sleight,32.739625,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-04-28,0,89.0,5.2,327,A young street magician is left to take care o...
17,406990,0,"[{""id"": 10749, ""name"": ""Romance""}]",What Happened to Monday,31.838451,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-08-18,0,123.0,7.2,2129,In a world where families are limited to one c...
18,337339,250000000,"[{""id"": 10749, ""name"": ""Romance""}]",The Fate of the Furious,31.582150,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-04-12,1238764765,136.0,6.8,5064,When a mysterious woman seduces Dom into the w...
19,321612,160000000,"[{""id"": 10749, ""name"": ""Romance""}]",Beauty and the Beast,28.830286,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-03-16,1263521126,129.0,6.8,8536,A live-action adaptation of Disney's version o...
20,343668,104000000,"[{""id"": 10749, ""name"": ""Romance""}]",Kingsman: The Golden Circle,27.003633,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-09-20,410902662,141.0,7.0,3711,When an attack on the Kingsman headquarters ta...
21,335988,217000000,"[{""id"": 10749, ""name"": ""Romance""}]",Transformers: The Last Knight,26.767255,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-06-16,605425157,149.0,6.0,2419,"Autobots and Decepticons are at war, with huma..."
22,324552,40000000,"[{""id"": 10749, ""name"": ""Romance""}]",John Wick: Chapter 2,25.144600,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-02-08,171539887,122.0,6.8,4228,John Wick is forced out of retirement by a for...
23,339403,34000000,"[{""id"": 10749, ""name"": ""Romance""}]",Baby Driver,24.600449,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-06-28,226945087,113.0,7.4,5452,After being coerced into working for a crime b...
24,359940,15000000,"[{""id"": 10749, ""name"": ""Romance""}]","Three Billboards Outside Ebbing, Missouri",23.981685,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-11-10,158526998,115.0,8.2,3203,After seven months have passed without a culpr...
25,353486,90000000,"[{""id"": 10749, ""name"": ""Romance""}]",Jumanji: Welcome to the Jungle,23.966828,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-12-09,962119864,119.0,6.6,4593,The tables are turned as four teenagers are su...
26,316029,84000000,"[{""id"": 10749, ""name"": ""Romance""}]",The Greatest Showman,23.952866,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-12-20,432844677,105.0,8.0,2618,"The story of American showman P.T. Barnum, fou..."
27,374720,100000000,"[{""id"": 10749, ""name"": ""Romance""}]",Dunkirk,23.743908,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-07-19,525573161,107.0,7.4,6428,The story of the miraculous evacuation of Alli...
28,47971,85000000,"[{""id"": 10749, ""name"": ""Romance""}]",xXx: Return of Xander Cage,23.563344,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-01-13,346147658,107.0,5.6,1973,Extreme athlete turned government operative Xa...
29,425336,4667008,"[{""id"": 10749, ""name"": ""Romance""}]",Loving Pablo,23.510748,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-10-12,0,123.0,6.2,138,The film chronicles the rise and fall of the w...
...,...,...,...,...,...,...,...,...,...,...,...,...
311,426338,0,"[{""id"": 10749, ""name"": ""Romance""}]",La llamada,5.747685,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-09-29,0,108.0,7.2,147,"María and Susana, two rebellious teens spend t..."
312,376134,0,"[{""id"": 10749, ""name"": ""Romance""}]",The Discovery,5.739487,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-03-31,0,102.0,6.2,514,"In the near future, due to a breakthrough scie..."
313,396810,0,"[{""id"": 10749, ""name"": ""Romance""}]",The Last Word,5.707971,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-03-03,1783421,108.0,6.4,120,A retired businesswoman – who tries to control...
314,432618,0,"[{""id"": 10749, ""name"": ""Romance""}]",Coexister,5.674529,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-10-11,0,90.0,6.1,123,"Under the pressure of his boss, a music produc..."
315,483104,0,"[{""id"": 10749, ""name"": ""Romance""}]",A Christmas Prince,5.626483,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-11-17,0,92.0,6.5,361,When a reporter goes undercover as a nanny to ...
316,306943,0,"[{""id"": 10749, ""name"": ""Romance""}]",The Outcasts,5.615842,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-04-14,0,95.0,6.5,243,After falling victim to a humiliating prank by...
317,425591,0,"[{""id"": 10749, ""name"": ""Romance""}]",I Don't Feel at Home in This World Anymore,5.614355,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-01-19,0,96.0,6.6,403,"When a depressed woman is burglarized, she fin..."
318,412202,1050000,"[{""id"": 10749, ""name"": ""Romance""}]",Handsome Devil,5.593172,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-02-15,0,95.0,7.2,193,A music-mad 16-year-old outcast at a rugby-mad...
319,455551,0,"[{""id"": 10749, ""name"": ""Romance""}]",The Recall,5.557986,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-06-02,1319566,91.0,4.0,120,When five friends vacation at a remote lake ho...
320,317560,0,"[{""id"": 10749, ""name"": ""Romance""}]",Carrie Pilby,5.303622,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-03-31,18957,98.0,7.3,120,"Awkward, isolated and disapproving of most of ..."
321,336890,0,"[{""id"": 10749, ""name"": ""Romance""}]",Goon: Last of the Enforcers,5.303200,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-03-17,0,101.0,5.9,106,"During a pro lockout, Doug ""The Thug"" Glatt is..."
322,469019,0,"[{""id"": 10749, ""name"": ""Romance""}]",Jim & Andy: The Great Beyond,5.279586,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-09-05,0,94.0,7.7,183,Offbeat documentarian Chris Smith provides a b...
323,432616,0,"[{""id"": 10749, ""name"": ""Romance""}]",La Promesse de l'aube,5.246042,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-12-20,0,130.0,7.7,122,From his childhood in Poland to his adolescenc...
324,439584,0,"[{""id"": 10749, ""name"": ""Romance""}]",Smetto quando voglio - Ad honorem,5.201175,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-11-30,0,96.0,7.7,240,Has been an year since Pietro Zinni's gang got...
325,420950,0,"[{""id"": 10749, ""name"": ""Romance""}]",Seuls,5.114870,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-02-08,0,90.0,5.5,191,Five kids wake up in a world where everybody h...
326,426962,0,"[{""id"": 10749, ""name"": ""Romance""}]",Sous le même toit,5.079043,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-04-19,0,97.0,5.2,125,Delphine and Yvan divorce. While his financial...
327,440708,0,"[{""id"": 10749, ""name"": ""Romance""}]",Mamma o papà?,5.073153,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-02-14,0,103.0,5.8,199,A divorced couple fights for the custody of th...
328,468198,0,"[{""id"": 10749, ""name"": ""Romance""}]",The Place,4.931749,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-11-04,0,105.0,7.1,194,The fates of an apparently random group of str...
329,411019,1000000,"[{""id"": 10749, ""name"": ""Romance""}]",I Am Not Your Negro,4.782047,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-02-03,7123919,95.0,8.1,155,Working from the text of James Baldwin’s unfin...
330,406385,0,"[{""id"": 10749, ""name"": ""Romance""}]",Smetto quando voglio - Masterclass,4.749552,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-02-02,0,118.0,7.5,434,Pietro Zinni is asked by the police to revive ...
331,435921,0,"[{""id"": 10749, ""name"": ""Romance""}]",L'ora legale,4.658175,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-01-19,0,92.0,6.6,316,"A small Sicilian town elects a new, honest maj..."
332,445793,0,"[{""id"": 10749, ""name"": ""Romance""}]",Moglie e marito,4.487730,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-04-13,687505,100.0,6.7,112,"Married for ten years, in full crisis, thinkin..."
333,408381,0,"[{""id"": 10749, ""name"": ""Romance""}]",Monolith,4.471734,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-04-20,0,81.0,5.1,164,A mother and her son plan a surprise visit to ...
334,419511,0,"[{""id"": 10749, ""name"": ""Romance""}]",Mister Felicità,4.435729,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-01-01,0,94.0,6.3,147,"Martino's sister, Caterina, can't work anymore..."
335,456508,0,"[{""id"": 10749, ""name"": ""Romance""}]",Chris Brown: Welcome to My Life,4.387289,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-06-08,0,110.0,6.3,216,This compelling Documentary moves beyond the s...
336,444902,0,"[{""id"": 10749, ""name"": ""Romance""}]",Dirty Dancing,4.276818,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-05-24,0,130.0,5.2,152,Spending the summer at a Catskills resort with...
337,431937,0,"[{""id"": 10749, ""name"": ""Romance""}]",Monsieur & Madame Adelman,4.252936,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-03-08,0,120.0,7.6,119,How did Sarah and Victor get along for more th...
338,435707,0,"[{""id"": 10749, ""name"": ""Romance""}]",Pieles,4.019442,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-04-15,0,78.0,6.7,147,A story about four spanish people who see them...
339,437739,0,"[{""id"": 10749, ""name"": ""Romance""}]",Le Manoir,3.846472,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-06-21,0,NaN,5.2,131,A band of students comes to celebrate the New ...
340,441614,0,"[{""id"": 10749, ""name"": ""Romance""}]",Amar,0.562015,"[{""id"": 103, ""logo_path"": None, ""name"": ""TVE"",...",2017-04-21,0,105.0,4.5,193,Laura and Carlos love each other as if every d...

In [25]:
api_df.dtypes

id                        int64
budget                    int64
genres                   object
original_title           object
popularity              float64
production_companies     object
release_date             object
revenue                   int64
runtime                 float64
vote_average            float64
vote_count                int64
overview                 object
dtype: object

In [3]:
string_lists = pd.read_csv("tmdb_5000_movies.csv")
string_lists = pd.DataFrame(string_lists)
string_lists1 = string_lists[["id", "budget", "genres", "original_title", "popularity", "production_companies", "release_date"
                             , "revenue", "runtime", "vote_average", "vote_count", "overview"]]
# string_lists1.head()
string_lists1.dtypes

id                        int64
budget                    int64
genres                   object
original_title           object
popularity              float64
production_companies     object
release_date             object
revenue                   int64
runtime                 float64
vote_average            float64
vote_count                int64
overview                 object
dtype: object

In [7]:
#read the csv datafile and convert it to dataframe
string_lists = pd.read_csv("tmdb_5000_movies.csv")
string_lists = pd.DataFrame(string_lists)
string_lists1 = string_lists[["id", "budget", "genres", "original_title", "popularity", "production_companies", "release_date"
                             , "revenue", "runtime", "vote_average", "vote_count", "overview"]]

# api_df = pd.read_csv("2017_movie_info.csv")
# api_df = pd.DataFrame(api_df)

merged_df = string_lists1.append(api_df)


#clean the data
#remove data with not enough votes, as weel as empty cells in columns that are needed
clean_df = string_lists.loc[string_lists["vote_count"]>100]
clean_df = clean_df.loc[clean_df["production_companies"] != "[]"]
clean_df = clean_df.loc[clean_df["genres"] != "[]"]
#remove unnedded columns and reset the index
clean_df1 = clean_df[["budget", "genres", "original_title", "popularity", "production_companies",
                      "release_date", "revenue", "runtime", "vote_average", "vote_count", "overview"]]
clean_df1 = clean_df1.reset_index(drop=True)

#create a list to add the coumpound polarity scores and add the completed list as a new column to the dataframe
compund = []

#go through each row and run vader analysis on each
for index, row in clean_df1.iterrows():
#     #append to a variable
#     results = analyzer.polarity_scores(clean_df1["overview"][index])
#     #take the compund score and set to a variable
#     comp = results["compound"]
#     #append the compund score variable to the compound list
#     compund.append(comp)
    try:
        results = analyzer.polarity_scores(clean_df["overview"][index])
        comp = results["compound"]  
#         compound.append(comp)  
    except:
        comp= results["compound"]
#         print(comp)
    compund.append(comp)

# print(len(compound))
#add the compound column to the dataframe    
clean_df1["compound_score"] = compund   
len(clean_df1)
# merged_df.head()

3142

In [8]:
#create of list of genres, first by creating a blank list
unique_genres = []

#then bgo through each row in the genres column and
for row in merged_df["genres"]:
    #load it into a varable using json.loads
    jdata = json.loads(row)
    #go through each dictionary in in the variable and
    for d in jdata:
        #check to see if the name has been placed into the unique_genres list yet
        if d["name"] not in unique_genres:
            #if not, append it to the list
            unique_genres.append(d['name'])

#Remove spaces from the genres            
unique_genres  = [w.replace(" ", "_") for w in unique_genres]            
#display the list so each genre can be seen            
unique_genres

['Action',
 'Adventure',
 'Fantasy',
 'Science_Fiction',
 'Crime',
 'Drama',
 'Thriller',
 'Animation',
 'Family',
 'Western',
 'Comedy',
 'Romance',
 'Horror',
 'Mystery',
 'History',
 'War',
 'Music',
 'Documentary',
 'Foreign',
 'TV_Movie']

In [16]:
#Create a data frame for each genre to compare with each other

#Createan empty list for each genre programmatically
for n in unique_genres:
    globals()[n] = []


#go through each row in the cleaned dataframe and
for index,row in clean_df1.iterrows():
    #use json.loads on the genres column at the position of the current index 
    jdata = json.loads(clean_df1["genres"][index])
    
    #for each dictionary in the created variable, check which genres appear and append to the proper list
    #DO NOT USE elif, to check if a row belongs in multiple lists use a seperate if statement for each list
    for d in jdata:

        if d["name"] == "Action":
            Action.append(row)
            
        if d["name"] == "Adventure":
            Adventure.append(row) 
        
        if d["name"] == "Fantasy":
            Fantasy.append(row)  
            
        if d["name"] == "Science Fiction":
            Science_Fiction.append(row)  
            
        if d["name"] == "Crime":
            Crime.append(row)  
            
        if d["name"] == "Drama":
            Drama.append(row)  
            
        if d["name"] == "Thriller":
            Thriller.append(row)  
            
        if d["name"] == "Animation":
            Animation.append(row)  
        
        if d["name"] == "Family":
            Family.append(row)  
        
        if d["name"] == "Western":
            Western.append(row)  
            
        if d["name"] == "Comedy":
            Comedy.append(row)  
            
        if d["name"] == "Romance":
            Romance.append(row)  
            
        if d["name"] == "Horror":
            Horror.append(row)  
         
        if d["name"] == "Mystery":
            Mystery.append(row)  
            
        if d["name"] == "History":
            History.append(row)  
            
        if d["name"] == "War":
            War.append(row)  
            
        if d["name"] == "Music":
            Music.append(row)  
            
        if d["name"] == "Documentary":
            Documentary.append(row)  
            
        if d["name"] == "TV Movie":
            TV_Movie.append(row)      
        
#convert them all to dataframes
Action_df = pd.DataFrame(Action)
Adventure_df = pd.DataFrame(Adventure)
Fantasy_df = pd.DataFrame(Fantasy)
Science_Fiction_df = pd.DataFrame(Science_Fiction)
Crime_df = pd.DataFrame(Crime)
Drama_df = pd.DataFrame(Drama)
Thriller_df = pd.DataFrame(Thriller)
Animation_df = pd.DataFrame(Animation)
Family_df = pd.DataFrame(Family)
Western_df = pd.DataFrame(Western)
Comedy_df = pd.DataFrame(Comedy)
Romance_df = pd.DataFrame(Romance)
Horror_df = pd.DataFrame(Horror)
Mystery_df = pd.DataFrame(Mystery)
History_df = pd.DataFrame(History)
War_df = pd.DataFrame(War)
Music_df = pd.DataFrame(Music)
Documentary_df = pd.DataFrame(Documentary)
TV_Movie_df = pd.DataFrame(TV_Movie)


##The code under here works to be used elsewhere
# sums = []
# for index,row in Adventure_df.iterrows():
#     sums.append(Adventure_df["vote_average"][index])
# averages = (sum(sums)/len(sums)).round(2)    
# averages
##The code above works to be used elsewhere

In [17]:
len(Science_Fiction_df)

441

In [9]:
#company code NOT FINISHED
# un_co_df = clean_df1.loc[clean_df1["vote_count"]>7000]
unique_companies = []
unique_companies_to_list=[]
for row in clean_df1["production_companies"]:
    jdata = json.loads(row)
    for d in jdata:
        if d["name"] not in unique_companies:
            unique_companies.append(d['name'])
            unique_companies_to_list.append(d['name'])
for n in unique_companies_to_list:
    globals()[n] = []

JSONDecodeError: Expecting value: line 1 column 27 (char 26)