In [8]:
import pandas as pd
import json

In [11]:
import pandas as pd
string_lists = pd.read_csv("tmdb_5000_movies.csv")
string_lists = pd.DataFrame(string_lists)
clean_df = string_lists.loc[string_lists["vote_count"]>100]
clean_df = clean_df.loc[clean_df["production_companies"] != "[]"]
clean_df = clean_df.loc[clean_df["genres"] != "[]"]
clean_df1 = clean_df[["budget", "genres", "keywords", "title", "popularity", "production_countries","production_companies",
                      "release_date", "revenue", "runtime", "vote_average", "vote_count"]]

In [12]:
clean_df1.head()

,budget,genres,keywords,title,popularity,production_countries,production_companies,release_date,revenue,runtime,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,150.437577,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...",2009-12-10,2787965087,162.0,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,139.082615,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2007-05-19,961000000,169.0,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,107.376788,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...","[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",2015-10-26,880674609,148.0,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,112.312950,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",2012-07-16,1084939099,165.0,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,43.926995,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",2012-03-07,284139100,132.0,6.1,2124

In [3]:
clean_df1.genres.iloc[0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [5]:
genres = []
for i in range(len(clean_df1.index)):
    jdata = json.loads(clean_df1["genres"][i])
    for d in jdata:
        genres.append(d['name'])

KeyError: 83

In [ ]:
test_text = pd.read_csv('Names_2017.csv')
test_text = pd.DataFrame(test_text)
test_text.head()

In [ ]:
for movie in test_text["Title"]:
    print(movie)