In [2]:
import pandas as pd

In [149]:
import pandas as pd
string_lists = pd.read_csv("tmdb_5000_movies.csv")
string_lists = pd.DataFrame(string_lists)
clean_df = string_lists.loc[string_lists["vote_count"]>100]
clean_df = clean_df.loc[clean_df["production_companies"] != "[]"]
clean_df = clean_df.loc[clean_df["genres"] != "[]"]
clean_df1 = clean_df[["budget", "genres", "keywords", "original_title", "popularity", "production_countries",
                      "release_date", "revenue", "runtime", "vote_average", "vote_count", "overview"]]
clean_df1.head(2)
print(len(clean_df1))

3142

In [55]:
# clean_df1["production_countries"] = clean_df1["production_countries"].astype(str)
clean_df1.dtypes
aa = clean_df1["genres"][0]
aab = aa.split()
aab[7]
# clean_df1["genres"].loc[clean_df1["genres"] == "name"]
# print(len(clean_df))


# def test_find(x):
#     [d for d in x if d["name"] == True]
#     return value
# test_find(clean_df1["genres"][0])

# aa.remove({'key1':'value1', 'key2':'value2'})


# gen = pd.DataFrame(clean_df1["genres"])
# gen.head(2)
# for nam in gen:
#     print(nam)

'"Adventure"},'

In [100]:
import json
unique_genres = []
# lista = []
# jdata = json.loads(clean_df1["genres"][0])
# for d in jdata:
#     if d["name"] not in lista:
#         lista.append(d['name'])
# print(lista) 

for row in clean_df1["genres"]:
    jdata = json.loads(row)
    for d in jdata:
        if d["name"] not in unique_genres:
            unique_genres.append(d['name'])
unique_genres

['Action',
 'Adventure',
 'Fantasy',
 'Science Fiction',
 'Crime',
 'Drama',
 'Thriller',
 'Animation',
 'Family',
 'Western',
 'Comedy',
 'Romance',
 'Horror',
 'Mystery',
 'History',
 'War',
 'Music',
 'Documentary',
 'TV Movie']

In [209]:
import statistics
count = 0
Action = []
for index,row in clean_df1.iterrows():
    #print(row)
    
    lista = []
    jdata = json.loads(clean_df1["genres"][index])
#     Action.append(jdata)
#     print("Hi")
#     print(len(Action))
#     break
    for d in jdata:
        if d["name"] not in lista:
            lista.append(d['name'])
#             Action.append(d['name'])
            count += 1
#     print(lista)
    if "Action" in lista:
        Action.append(clean_df1["vote_average"]) #use a loc, this line is the issue
        break
# ActionAvg = statistics.mean(Action)
# Action = pd.DataFrame(Action)
# Action[0]

0       7.2
1       6.9
2       6.3
3       7.6
4       6.1
5       5.9
6       7.4
7       7.3
8       7.4
9       5.7
10      5.4
11      6.1
12      7.0
13      5.9
14      6.5
15      6.3
16      7.4
17      6.4
18      6.2
19      7.1
20      6.5
21      6.2
22      7.6
23      5.8
24      6.6
25      7.5
26      7.1
27      5.5
28      6.5
29      6.9
       ...
4639    6.9
4643    6.4
4650    6.6
4654    6.4
4664    6.9
4670    6.6
4671    6.8
4672    7.6
4688    7.7
4695    7.8
4696    7.4
4700    6.8
4704    7.3
4709    7.5
4715    6.3
4717    6.5
4720    6.5
4723    4.9
4724    7.5
4730    6.3
4731    7.4
4738    7.1
4742    6.6
4748    5.8
4758    5.8
4773    7.4
4778    6.0
4788    6.2
4796    6.9
4798    6.6
Name: vote_average, Length: 3142, dtype: float64

In [176]:
clean_df1

,budget,genres,keywords,original_title,popularity,production_countries,release_date,revenue,runtime,vote_average,vote_count,overview
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,150.437577,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,7.2,11800,"In the 22nd century, a paraplegic Marine is di..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,139.082615,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,6.9,4500,"Captain Barbossa, long believed to be dead, ha..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,107.376788,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,6.3,4466,A cryptic message from Bondâ€™s past sends him o...
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,112.312950,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,7.6,9106,Following the death of District Attorney Harve...
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,43.926995,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,6.1,2124,"John Carter is a war-weary, former military ca..."
5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...","[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",Spider-Man 3,115.699814,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-01,890871626,139.0,5.9,3576,The seemingly invincible Spider-Man goes up ag...
6,260000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...","[{""id"": 1562, ""name"": ""hostage""}, {""id"": 2343,...",Tangled,48.681969,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2010-11-24,591794936,100.0,7.4,3330,When the kingdom's most wanted-and most charmi...
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",Avengers: Age of Ultron,134.279229,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-04-22,1405403694,141.0,7.3,6767,When Tony Stark tries to jumpstart a dormant p...
8,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 616, ""name"": ""witch""}, {""id"": 2343, ""n...",Harry Potter and the Half-Blood Prince,98.885637,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2009-07-07,933959197,153.0,7.4,5293,"As Harry begins his sixth year at Hogwarts, he..."
9,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 7002...",Batman v Superman: Dawn of Justice,155.790452,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-03-23,873260194,151.0,5.7,7004,Fearing the actions of a god-like Super Hero l...
10,270000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 83, ""name"": ""saving the world""}, {""id""...",Superman Returns,57.925623,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-06-28,391081192,154.0,5.4,1400,Superman returns to discover his 5-year absenc...
11,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...","[{""id"": 627, ""name"": ""killing""}, {""id"": 1568, ...",Quantum of Solace,107.928811,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2008-10-30,586090727,106.0,6.1,2965,Quantum of Solace continues the adventures of ...
12,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 616, ""name"": ""witch""}, {""id"": 663, ""na...",Pirates of the Caribbean: Dead Man's Chest,145.847379,"[{""iso_3166_1"": ""JM"", ""name"": ""Jamaica""}, {""is...",2006-06-20,1065659812,151.0,7.0,5246,Captain Jack Sparrow works his way out of a bl...
13,255000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1556, ""name"": ""texas""}, {""id"": 2673, ""...",The Lone Ranger,49.046956,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-07-03,89289910,149.0,5.9,2311,The Texas Rangers chase down a gang of outlaws...
14,225000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 83, ""name"": ""saving the world""}, {""id""...",Man of Steel,99.398009,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2013-06-12,662845518,143.0,6.5,6359,A young boy learns that he has extraordinary p...
15,225000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",The Chronicles of Narnia: Prince Caspian,53.978602,"[{""iso_3166_1"": ""CZ"", ""name"": ""Czech Republic""...",2008-05-15,419651413,150.0,6.3,1630,One year after their incredible adventures in ...
16,220000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...","[{""id"": 242, ""name"": ""new york""}, {""id"": 5539,...",The Avengers,144.448633,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-04-25,1519557910,143.0,7.4,11776,When an unexpected enemy emerges and threatens...
17,380000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...","[{""id"": 658, ""name"": ""sea""}, {""id"": 1316, ""nam...",Pirates of the Caribbean: On Stranger Tides,135.413856,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2011-05-14,1045713802,136.0,6.4,4948,Captain Jack Sparrow crosses paths with a woma...
18,225000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...","[{""id"": 4379, ""name"": ""time travel""}, {""id"": 5...",Men in Black 3,52.035179,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-23,624026776,106.0,6.2,4160,Agents J (Will Smith) and K (Tommy Lee Jones) ...
19,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 417, ""name"": ""corruption""}, {""id"": 603...",The Hobbit: The Battle of the Five Armies,120.965743,"[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",2014-12-10,956019788,144.0,7.1,4760,Immediately after the events of The Desolation...
20,215000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1872, ""name"": ""loss of father""}, {""id""...",The Amazing Spider-Man,89.866276,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-06-27,752215857,136.0,6.5,6586,Peter Parker is an outcast high schooler aband...
21,200000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 4147, ""name"": ""robin hood""}, {""id"": 43...",Robin Hood,37.668301,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2010-05-12,310669540,140.0,6.2,1398,When soldier Robin happens upon the dying Robe...
22,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 603, ""name"": ""elves""}, {""id"": 604, ""na...",The Hobbit: The Desolation of Smaug,94.370564,"[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",2013-12-11,958400000,161.0,7.6,4524,"The Dwarves, Bilbo and Gandalf have successful..."
23,180000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 392, ""name"": ""england""}, {""id"": 1461, ...",The Golden Compass,42.990906,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2007-12-04,372234864,113.0,5.8,1303,"After overhearing a shocking secret, precociou..."
24,207000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...","[{""id"": 774, ""name"": ""film business""}, {""id"": ...",King Kong,61.226010,"[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",2005-12-14,550000000,187.0,6.6,2337,"In 1933 New York, an overly ambitious movie pr..."
25,200000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...","[{""id"": 2580, ""name"": ""shipwreck""}, {""id"": 298...",Titanic,100.025899,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1997-11-18,1845034188,194.0,7.5,7562,"84 years later, a 101-year-old woman named Ros..."
26,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...","[{""id"": 393, ""name"": ""civil war""}, {""id"": 6091...",Captain America: Civil War,198.372395,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-04-27,1153304495,147.0,7.1,7241,"Following the events of Age of Ultron, the col..."
27,209000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...","[{""id"": 1721, ""name"": ""fight""}, {""id"": 4410, ""...",Battleship,64.928382,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-04-11,303025485,131.0,5.5,2114,"When mankind beams a radio signal into space, ..."
28,150000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1299, ""name"": ""monster""}, {""id"": 1718,...",Jurassic World,418.708552,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-06-09,1513528810,124.0,6.5,8662,Twenty-two years after the events of Jurassic ...
29,200000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 4289, ""nam...",Skyfall,93.004993,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2012-10-25,1108561013,143.0,6.9,7604,When Bond's latest assignment goes gravely wro...
...,...,...,...,...,...,...,...,...,...,...,...,...
4639,250000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 878, ""...","[{""id"": 483, ""name"": ""riddle""}, {""id"": 1646, ""...",Cube,44.656151,"[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}]",1997-09-09,501818,90.0,6.9,1069,Seven strangers are taken out of their daily l...
4643,250000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...","[{""id"": 6674, ""name"": ""chair""}, {""id"": 159945,...",Like Crazy,21.825564,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2011-10-28,3542353,90.0,6.4,381,A British college student falls for an America...
4650,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...","[{""id"": 1419, ""name"": ""gun""}, {""id"": 2834, ""na...",Exam,20.265518,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}]",2009-06-19,0,101.0,6.6,523,The final candidates for a highly desirable co...
4654,250000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 14, ""nam...","[{""id"": 6152, ""name"": ""supernatural""}, {""id"": ...",Ink,5.217002,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-01-23,0,106.0,6.4,101,Invisible forces exert power over us in our sl...
4664,230000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...","[{""id"": 378, ""name"": ""prison""}, {""id"": 1533, ""...",Bronson,18.450613,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}]",2008-10-09,2260712,92.0,6.9,733,A young man who was sentenced to 7 years in pr...
4670,400000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...","[{""id"": 473, ""name"": ""chain""}, {""id"": 1009, ""n...",Mad Max,33.142185,"[{""iso_3166_1"": ""AU"", ""name"": ""Australia""}]",1979-04-12,100000000,93.0,6.6,1213,"In a dystopian future Australia, a vicious bik..."
4671,200000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...","[{""id"": 10183, ""name"": ""independent film""}, {""...",Swingers,13.971674,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1996-10-18,4505922,94.0,6.8,253,"This is a story about Mike, a guy who left his..."
4672,200000,"[{""id"": 37, ""name"": ""Western""}]","[{""id"": 2987, ""name"": ""gang war""}, {""id"": 4942...",Per un pugno di dollari,38.771062,"[{""iso_3166_1"": ""IT"", ""name"": ""Italy""}, {""iso_...",1964-09-12,14500000,99.0,7.6,883,The Man With No Name enters the Mexican villag...
4688,0,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...","[{""id"": 490, ""name"": ""philosophy""}, {""id"": 132...",The Man from Earth,31.339015,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-06-10,0,87.0,7.7,687,An impromptu goodbye party for Professor John ...
4695,180000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...","[{""id"": 1155, ""name"": ""brother sister relation...",Ø¨Ú†Ù‡â€ŒÙ‡Ø§ÛŒ Ø¢Ø³Ù…Ø§Ù†,7.072118,"[{""iso_3166_1"": ""IR"", ""name"": ""Iran""}]",1997-08-01,900000,89.0,7.8,112,Zohre's shoes are gone; her older brother Ali ...
4696,8000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...","[{""id"": 237, ""name"": ""gay""}, {""id"": 1025, ""nam...",Weekend,1.041254,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}]",2011-09-22,469947,96.0,7.4,163,After a drunken house party with his straight ...
4700,100000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 878, ""nam...","[{""id"": 4627, ""name"": ""earth""}, {""id"": 10614, ...",Another Earth,25.402697,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2011-07-22,1776935,92.0,6.8,527,On the night of the discovery of a duplicate E...
4704,160000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10402, ""n...","[{""id"": 578, ""name"": ""rock and roll""}, {""id"": ...",Once,19.052179,"[{""iso_3166_1"": ""IE"", ""name"": ""Ireland""}]",2007-03-23,20710513,85.0,7.3,453,A vacuum repairman moonlights as a street musi...
4709,0,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...","[{""id"": 65, ""name"": ""holiday""}, {""id"": 207317,...",A Charlie Brown Christmas,8.701183,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1965-12-09,0,25.0,7.5,153,When Charlie Brown complains about the overwhe...
4715,0,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...","[{""id"": 736, ""name"": ""journalist""}, {""id"": 101...",Sound of My Voice,6.192383,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2011-01-22,0,85.0,6.3,108,A journalist and his girlfriend get pulled in ...
4717,125000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...","[{""id"": 1156, ""name"": ""sister sister relations...",Your Sister's Sister,12.833247,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2011-09-11,3200000,90.0,6.5,137,Iris invites her friend Jack to stay at her fa...
4720,8500000,"[{""id"": 18, ""name"": ""Drama""}]","[{""id"": 2831, ""name"": ""slavery""}]",The Birth of a Nation,9.452808,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-09-09,15861566,120.0,6.5,178,"Nat Turner, a former slave in America, leads a..."
4723,100000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 53, ""nam...","[{""id"": 2125, ""name"": ""gallows""}, {""id"": 6270,...",The Gallows,18.045782,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-07-10,42664410,87.0,4.9,361,20 years after a horrific accident during a sm...
4724,10000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 14, ""name...","[{""id"": 1009, ""name"": ""baby""}, {""id"": 1852, ""n...",Eraserhead,20.399578,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1977-03-19,7000000,89.0,7.5,485,Henry Spencer tries to survive his industrial ...
4730,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...","[{""id"": 9937, ""name"": ""suspense""}, {""id"": 2100...",Cheap Thrills,10.826253,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-03-08,0,85.0,6.3,155,"Recently fired and facing eviction, a new dad ..."
4731,0,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 6186, ""name"": ""games""}, {""id"": 187056,...",Indie Game: The Movie,7.676677,"[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}]",2012-05-18,0,96.0,7.4,203,Indie Game: The Movie is a feature documentary...
4738,60000,"[{""id"": 9648, ""name"": ""Mystery""}, {""id"": 18, ""...","[{""id"": 2157, ""name"": ""hacker""}, {""id"": 2303, ...",Pi,27.788067,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1998-07-10,3221152,84.0,7.1,586,The debut film from Darren Aronofsky in which ...
4742,65000,"[{""id"": 99, ""name"": ""Documentary""}, {""id"": 35,...","[{""id"": 1706, ""name"": ""experiment""}, {""id"": 37...",Super Size Me,10.400603,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-01-17,28575078,100.0,6.6,506,Morgan Spurlock subjects himself to a diet bas...
4748,70000,"[{""id"": 9648, ""name"": ""Mystery""}, {""id"": 27, ""...","[{""id"": 13149, ""name"": ""pregnancy""}, {""id"": 20...",Absentia,6.328665,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2011-03-03,0,92.0,5.8,121,Tricia's husband Daniel has been missing for s...
4758,4000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 878, ""...","[{""id"": 2157, ""name"": ""hacker""}, {""id"": 4769, ...",The Signal,27.662696,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2014-03-15,600896,95.0,5.8,631,Three college students on a road trip across t...
4773,27000,"[{""id"": 35, ""name"": ""Comedy""}]","[{""id"": 1361, ""name"": ""salesclerk""}, {""id"": 30...",Clerks,19.748658,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1994-09-13,3151130,92.0,7.4,755,Convenience and video store clerks Dante and R...
4778,0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...","[{""id"": 10022, ""name"": ""rampage""}, {""id"": 1454...",Rampage,7.101197,"[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2009-08-14,0,85.0,6.0,131,The boredom of small town life is eating Bill ...
4788,12000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 35, ""nam...","[{""id"": 237, ""name"": ""gay""}, {""id"": 900, ""name...",Pink Flamingos,4.553644,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1972-03-12,6000000,93.0,6.2,110,Notorious Baltimore criminal and underground f...
4796,7000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...","[{""id"": 1448, ""name"": ""distrust""}, {""id"": 2101...",Primer,23.307949,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-10-08,424760,77.0,6.9,658,Friends/fledgling entrepreneurs invent a devic...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...",El Mariachi,14.269792,"[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,6.6,238,El Mariachi just wants to play his guitar and ...

In [175]:
l={1:"one",2:"two"}
print(l)
for k,v in l.items():
    print(k)

{1: 'one', 2: 'two'}
1
2

In [6]:
test_text = pd.read_csv('Names_2017.csv')
test_text = pd.DataFrame(test_text)
test_text.head()

         Opening  Opening.1                   Title
0  J A N U A R Y          6  Underworld: Blood Wars
1  J A N U A R Y          6                 Arsenal
2  J A N U A R Y          6              Between Us
3  J A N U A R Y         13          Monster Trucks
4  J A N U A R Y         13         The Bye Bye Man

In [7]:
for movie in test_text["Title"]:
    print(movie)

Underworld: Blood Wars
Arsenal
Between Us
Monster Trucks
The Bye Bye Man
Sleepless
100 Streets
The Book of Love
Split
xXx: Return of Xander Cage
The Resurrection of Gavin Stone
Trespass Against Us
Sophie and the Rising Sun
A Dog's Purpose
Resident Evil: The Final Chapter
Lost in Florence
I Am Michael
iBoy
Rings
The Space Between Us
Youth in Oregon
I Am Not Your Negro
Growing Up Smith
The Lego Batman Movie
Fifty Shades Darker
John Wick: Chapter 2
Bornless Ones
The Great Wall
A Cure for Wellness
Fist Fight
American Fable
XX
Lovesong
Get Out
Rock Dog
Collide
The Girl with All the Gifts
I Don't Feel at Home in This World Anymore
Contemporary Color
Logan
The Shack
Before I Fall
Table 19
The Last Word
Catfight
Donald Cried
Kong: Skull Island
Burning Sands
Beauty and the Beast
The Belko Experiment
Song to Song
Atomica
All Nighter
The Devil's Candy
Power Rangers
Life
CHiPs
Wilson
Victor
Car Dogs
Walk of Fame
Ghost in the Shell
The Boss Baby
The Zookeeper's Wife
The Blackcoat's Daughter
The Discovery
Carrie Pilby
The Case for Christ
Smurfs: The Lost Village
Going in Style
Colossal
Gifted
Aftermath
The Fate of the Furious
Spark
The Lost City of Z
My Entire High School Sinking Into the Sea
The Outcasts
Born in China
Unforgettable
The Promise
The Circle
How to Be a Latin Lover
Sleight
Guardians of the Galaxy Vol. 2
The Lovers
3 Generations
King Arthur: Legend of the Sword
Snatched
Lowriders
The Wall
Paris Can Wait
Alien: Covenant
Diary of a Wimpy Kid: The Long Haul
Everything, Everything
Wakefield
Baywatch
Pirates of the Caribbean: Dead Men Tell No Tales
Buena Vista Social Club: Adios
War Machine
Wonder Woman
Captain Underpants: The First Epic Movie
Dean
The Mummy
It Comes at Night
My Cousin Rachel
Megan Leavey
Beatriz at Dinner
Cars 3
Rough Night
All Eyez on Me
47 Meters Down
The Book of Henry
Transformers: The Last Knight
The Beguiled
The Big Sick
The Bad Batch
Baby Driver
Okja
Despicable Me 3
The House
The Little Hours
Inconceivable
2:22
A Ghost Story
Spider-Man: Homecoming
War for the Planet of the Apes
Wish Upon
Valerian and the City of a Thousand Planets
Girls Trip
First Kill
The Emoji Movie
An Inconvenient Sequel: Truth to Power
Detroit
Brigsby Bear
Menashe
The Dark Tower
Kidnap
Step
Wind River
Armed Response
Annabelle: Creation
The Glass Castle
The Nut Job 2: Nutty by Nature
Good Time
Ingrid Goes West
The Only Living Boy in New York
The Hitman's Bodyguard
Logan Lucky
Patti Cake$
All Saints
Served Like A Girl
Beach Rats
Tulip Fever
Unlocked
It
Home Again
11-Sep
The Good Catholic
Gun Shy
American Assassin
Mother!
Brad's Status
Kingsman: The Golden Circle
The Lego Ninjago Movie
Stronger
Battle of the Sexes
Woodshock
Victoria & Abdul
Jeepers Creepers 3
American Made
Flatliners
Mark Felt: The Man Who Brought Down the White House
Blade Runner 2049
The Mountain Between Us
My Little Pony: The Movie
The Florida Project
Brawl in Cell Block 99
Happy Death Day
Marshall
Breathe
Goodbye Christopher Robin
Professor Marston and the Wonder Women
Blood Money
Geostorm
Only the Brave
Boo 2! A Madea Halloween
Same Kind of Different as Me
Leatherface
Wonderstruck
The Killing of a Sacred Deer
Thank You for Your Service
Suburbicon
Jigsaw
Novitiate
All I See Is You
Amityville: The Awakening
Thor: Ragnarok
A Bad Moms Christmas
Last Flag Flying
Lady Bird
Murder on the Orient Express
Daddy's Home 2
LBJ
Three Billboards Outside Ebbing, Missouri
Mayhem
Justice League
The Star
Wonder
Cook Off!
Mr. Roosevelt
Roman J. Israel, Esq.
Coco
Darkest Hour
The Man Who Invented Christmas
Call Me by Your Name
The Disaster Artist
The Shape of Water
Wonder Wheel
I, Tonya
Just Getting Started
Star Wars: The Last Jedi
Ferdinand
Beyond Skyline
Jumanji: Welcome to the Jungle
The Greatest Showman
Pitch Perfect 3
Downsizing
Father Figures
The Post
Bright
Crooked House
Hostiles
All the Money in the World
Molly's Game
Phantom Thread